<!DOCTYPE html>
<html>
    <head>
        <title>Advent of Code Solutions</title>
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <div class="background">
            <div class="main-container">
                <h1>Advent of Code</h1>
                <div class="day-container">
                    <h4>Day 1: The Tyranny of the Rocket Equation</h4>
                    <div class="part-container">
                        <a href="solutions/day1/part1">Part 1 - Fuel</a>
                        <a href="solutions/day1/part2">Part 2 - Fuel for fuel</a>
                    </div>
                </div>
                <div class="day-container">
                    <h4>Day 2: 1202 Program Alarm</h4>
                    <div class="part-container">
                        <a href="solutions/day2/part1">Part 1 - Opcode computer</a>
                        <a href="solutions/day2/part2">Part 2 - Nouns and verbs</a>
                    </div>
                </div>
                <div class="day-container">
                    <h4>Day 3: Crossed Wires</h4>
                    <div class="part-container">
                        <a href="solutions/day3/part1and2">Part 1 and 2 - Intersection points</a>
                    </div>
                </div>
                <div class="day-container">
                    <h4>Day 4: Password</h4>
                    <div class="part-container">
                        <a href="solutions/day4/part1">Part 1 - Brute force</a>
                        <a href="solutions/day4/part2">Part 2 - Additional conditions</a>
                    </div>
                </div>
                <div class="day-container">
                    <h4>Day 5: Sunny with a Chance of Asteroids</h4>
                    <div class="part-container">
                        <a href="solutions/day5/part1">Part 1 - Air Conditioner</a>
                        <a href="solutions/day5/part2">Part 2 - Thermal Radiators</a>
                    </div>
                </div>
                <div class="day-container">
                    <h4>Day 6: Universal Orbit Map</h4>
                    <div class="part-container">
                        <a href="solutions/day6/part1">Part 1 - Number of orbits</a>
                        <a href="solutions/day6/part2">Part 2 - Distance</a>
                    </div>
                </div>
                <div class="day-container">
                    <h4>Day 7: Amplification Circuit</h4>
                    <div class="part-container">
                        <a href="solutions/day7/part1">Part 1 - 5 Amplifiers</a>
                        <a href="solutions/day7/part2">Part 2 - </a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>